test-cmd
covid-19-api-old
.idea
greece_cases_v2.csv
greeceTimeline.csv
testdata
docker-testdata
covid19-greece-api
todos.txt
tmp
deaths%20covid%20greece%20municipality%2020%2021.csv
demography_total_details.csv