# ide files
.idea

# test commands that do not need to be committed
test-cmd

# postgres data for docker and standalone run
testdata
docker-testdata

# air temporary
tmp

# csv files that do not need to be committed
greeceTimeline.csv
greece_cases_v2.csv
deaths%20covid%20greece%20municipality%2020%2021.csv
demography_total_details.csv
viral_waste_water.csv

# executable
covid19-greece-api
